@import '../../colors.scss';

.navigation-container {
    background-color: $black;
    padding: 30px 50px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    .link-item {
        margin-inline: 10px;
        text-decoration: none;
        font-weight: bold;
        color: white;
        padding-bottom: 5px;
        transition: all .2s ease-in;
    }

    .link-item:hover,
    .link-item.active {
        color: $aero;
        border-bottom: 3px solid $aero;
    }
}