@import '../../colors.scss';

.work-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        text-align: center;
        font-size: 3rem;
        color: $black;
        margin-bottom: 50px;
    }

    .work-items-container {
        max-width: 900px;

        .work-item {
            padding: 30px;

            h2 {
                font-size: 2rem;
                color: $aero;
                text-align: center;
                margin-bottom: 50px;
            }

            .work-item-content {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                column-gap: 20px;
                row-gap: 20px;

                .work-logos-container {
                    display: flex;
                    flex-direction: row;
                    row-gap: 20px;
                    justify-content: center;
                    flex: 1 1;
                    column-gap: 20px;
                    flex-wrap: wrap;
                    align-items: center;
                }

                .work-description-container {
                    flex: 1;

                    p {
                        font-size: 1.1rem;
                        color: $black;

                        a {
                            text-decoration: none;
                            text-decoration: underline;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}