.pills_sections_container {
    display: flex;
    flex-flow: row wrap;
    gap: 50px;
    justify-content: center;
    padding: 50px;

    .pill_section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all .3s ease-in-out;
    }

    .pill_section:hover {
        transform: scale(1.5);
    }
}