@import '../../colors.scss';

.footer-container {
    background-color: $black;
    color: $aero;
    text-align: center;
    margin: 0;

    .social-container {
        display: flex;
        flex-flow: row wrap;
        gap: 20px;
        justify-content: center;
        align-items: center;
        padding-top: 20px;

        .social-item {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }

        #fix-leet {
            margin-top: 10px;
        }
    }

    p {
        margin: 0;
        padding: 20px;
    }
}